#root {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1rem;
  text-align: left;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #666666aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

main {
  background: rgba(255,255,255,0.02);
  border-radius: 10px;
  padding: 1.2rem;
  box-shadow: 0 6px 18px rgba(254, 254, 255, 0.6);
}

.students-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 12px;
  margin-top: 12px;
}

.container-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.read-the-docs {
  color: #888;
}
